*{
  background-color: black;
  color: white;
  margin-top: 0px;
  font-family: sans-serif;
}

body{
  margin: 20px ;
  margin-top: 0px;
}

.container{
  margin: 10vh 10vw;
}

.input-div{
  display: flex;
  flex-flow: column;
}

input{
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

.btn{
  outline: none;
  border: none;
  background-color: white;
  color: black;
padding: 5px 15px;

}

.btn:hover{

  cursor: pointer;
}
nav{
  border-bottom: 1px solid white;
}

ul{
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
ul div{
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
}


li {
  list-style-type: none;
  padding: 5px;
}

li a{
  text-decoration: none;
}